html{
    height:100%;
    min-width:320px;
    font-family:'Open Sans',arial,sans-serif
}                    
body{
    padding:0;
    margin:0
}                    
body,html{
    font-size:16px;
    min-height:100%
}                    
strong{
    font-weight:700
}                    
p,label{
    font-size:1.125em;
    line-height:24px;
    margin-bottom:25px
}                    
h1,h2,h3{
    margin-bottom:20px
}                    
h1{
    font-size:1.625em;
    line-height:32px
}                    
h2{
    font-size:1.375em;
    line-height:28px
}                    
h3{
    font-size:1.125em;
    line-height:24px
}                    
a{
    color:#66605C;
    text-decoration:underline
}                    
a:hover{
    color:black
}                    
hr.dotted{
    width:50%;
    display:block;
    margin:25px auto;
    background:transparent;
    border:0;
    border-top:1px dotted black
}                    
input,textarea,select{
    font-size:1em;
    padding:2px 6px;
    border:2px solid #666;
    background:white;
    height:30px;
    color:black
}                    
input:focus,textarea:focus,select:focus{
    background:#eee;
    border-color:black
}                    
input:hover,textarea:hover,select:hover{
    border-color:black
}                    
input[type="submit"]{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background:black;
    -webkit-box-shadow:6px 6px 6px rgba(0,0,0,0.8);
    -moz-box-shadow:6px 6px 6px rgba(0,0,0,0.8);
    box-shadow:6px 6px 6px rgba(0,0,0,0.8);
    border:none;
    font-size:1.875em;
    line-height:36px;
    padding:0;
    height:75px;
    line-height:75px;
    cursor:pointer
}                    
input[type="submit"]:hover{
    background:#333
}                    
header{
    text-align:center;
    padding:0;
    width:100%
}                    
header img{
    display:block;
    margin:0 auto
}                    
header h1{
    margin:0;
    padding:0; 
    max-height: 250px; 
    overflow: hidden;
}                    
header h1 img{
    height: auto; 
    width: auto; 
    margin: auto;
}                    
footer{
    width:100%;
    height:93px;
    border-bottom:10px solid black;
}                    
section{
    width:700px;
    display:block;
    margin:0 auto;
    position:relative;
    height:auto;
}                    
section.big_cont{
    width: 1090px;
}
.tcenter{
    text-align:center
}                    
#content{
    width:100%;
    display:block;
    position:relative;
    overflow: hidden;
}                    
#content:after{
    content: ''; 
    display: block; 
    float: none; 
    clear: both;
}                     
#content .cwrap{
    width: 100%;
    float: left; 
    margin:0 10px 0 20px;
    padding:20px 0;
    display:block;
    text-align:justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 520px;
}                    
#content .feat_content{
    color:white;
    padding:15px 25px;
    background:#66605C;
    margin:15px 0
}                    
#content .feat_content p{
    font-size:1.25em;
    line-height:26px;
    line-height:24px
}                    
#content .feat_content p:first-child{
    margin-top: 0
}
#content .feat_content p:last-child{
    margin-bottom:0
}            
#content #form .cwrap{
    margin: 0;
}
.foot{
    width:100%;
    height: 83px; 
    padding:10px 0px 0 0;
    text-align:center;
}                     
.foot.yellow{
    background: yellow;
    color: #000;
}      
.foot.black{
    background: black;
    color: #fff;
}
.foot.white{
    background: white;
    color: #000;
}
.foot .wrap{
    margin-right:165px
}                     
.foot p{
    font-size:1.5em;
    line-height:30px
}                     
.foot p.copy{
    font-size:1em;
    line-height:22px
}                    
#form{
    position:relative;
    z-index:2;
    width:295px;
    float: left; 
    min-height: 930px;
}                    
#form .cwrap{
    width: 295px; 
    display:block;
    padding:15px;
    height: 100%;
    min-height: 930px;    
}                    
#form h2{
    text-align:center;
    font-size:1.5em;
    line-height:30px
}                    
#form h2 span{
    font-size:.625em;
    line-height:16px
}                    
#form .line{
    margin-bottom:15px
}                    
#form .line.error input,#form .line.error select{
    background:#F3A8B5
}                    
#form .line.captcha img{
    width:100%;
    margin:0;
    max-width:100%
}                    
#form .line.captcha .error,#form .line.captcha .recaptcha_only_if_incorrect_sol{
    background:#F3A8B5;
    color:black;
    display:block;
    padding:2px 5px;
    text-align:center;
    border:1px solid red
}                    
#form input,#form select{
    display:block;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0
}                    
#form img{
    display:block;
    margin:0 auto 15px auto;
    width:auto;
    height:auto;
    max-width:260px
}                    
#form .firma{
    width: 260px;
    max-height: 260px;
    overflow: hidden;
}                    
#form .disc{
    font-size:.75em;
    line-height:18px
}                    
#form .foot2{
    width:100%;
    background:#ff0;
    text-align:center;
    display:none
}                    
#form .foot2 .wrap{
    margin:20px
}                    
#form .foot2 p{
    font-size:1.5em;
    line-height:30px
}                    
#form .foot2 p.copy{
    font-size:1em;
    line-height:22px
} 
#formSales:after{
    content: '';
    display: block;
    float: none;
    clear: both;
}
#img{
    width:245px;
    overflow: hidden;
    float: left;
}                    
#img img{
    display:block;
    line-height:1px; 
    width: 100%;
}                    
#thanks #content{
    background:#66605C;
    color:white;
    font-size:2.5em;
    height:auto;
    min-height:0
}                    
#thanks #content .cwrap{
    text-align:center;
    padding:0;
    margin:0
}                    
#thanks #content .cwrap p{
    font-size:0.5em
}                    
#thanks #content .cwrap h2{
    margin-bottom:40px
}                    
#thanks #content a{
    color:black
}                    
#thanks #content a:hover{
    color:white
}                    
#thanks footer{
    position:fixed;
    bottom:0;
    left:0
}                    
.captcha{
    font-size:0.9em;
    margin-bottom:15px
}                    
.captcha input{
    width:90%;
    margin:0 auto
}                    
.captcha img{
    margin:0 !important
}                    
.captcha .icocap{
    display:block;
    width:16px;
    height:16px;
    text-indent:-9999px;
    background:no-repeat center center transparent
}                    
.captcha .icocap.ico-sound{
    background-image:url(../img/ico-sound.png)
}                    
.captcha .icocap.ico-eye{
    background-image:url(../img/ico-eye.png)
}                    
.captcha .icocap.ico-refresh{
    background-image:url(../img/ico-refresh.png)
}                    
.captcha .icocap.ico-help{
    background-image:url(../img/ico-help.png)
}                    
.captcha .buttons{
    display:block;
    float:none;
    margin-top:5px
}                    
.captcha .buttons:after{
    display:block;
    clear:both;
    content:" "
}                    
.captcha .likebutton{
    display:block;
    float:left;
    width:16px;
    height:16px;
    padding:5px
}                    
.captcha #recaptcha_widget{
    padding:10px 5px 0;
    background:#AFAFAF;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}                    
.captcha #recaptcha_image{
    width:250px !important;
    overflow:hidden;
    margin-bottom:10px
}                    
.captcha #recaptcha_image img{
    width:100%;
    border:0
}                    
.captcha .inputcont{
    background:#eee;
    display:block;
    padding:10px 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    font-size:.9em
}                    
#error_correo{
    background:#F3A8B5;
    color:black;
    display:block;
    padding:2px 5px;
    text-align:center;
    border:1px solid red;
    font-weight:bold;
    margin-top:-15px;
    margin-bottom:10px
}                    
.recaptcha_only_if_incorrect_sol{
    background:#F3A8B5;
    color:black;
    display:block;
    padding:2px 5px;
    text-align:center;
    border:1px solid red;
    margin:5px 0
}                    
@media all and (max-width:1150px){
    html section{
        width:auto;
    }                              
    html section.big_cont{
        width: 100% !important;
    }          
    html section #img{
        display:none
    }                    
    html #thanks h2{
        line-height:45px
    }                   
    html #thanks section{
        margin:0 20px;
        padding-bottom:20px
    }
    html #content .cwrap{
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    html #form{
        width: 100%;
    }
    html #content #form .cwrap{
        width: 100%;
    }
}                    
@media all and (max-width:780px){
    html,html body{
        font-size:13px
    }                    
    html header img{
        width:90%
    }                    
    html section{
        width: 100% !important;
    }                    
    html section #content{
        padding-bottom:0;
        min-height:0;
        width: 100%;
    }                    
    html section #content .cwrap{
        padding:0 20px;
        width: 100%;
        margin: auto;
        max-width: 100%;
    }                    
    html section .foot{
        padding: 10px 0 0 0;
    }                    
    html #form{
        display:block;
        margin:0 auto;
        background:yellow;
        width:100%
    }                    
    html #form img.firma{
        display:none
    }                    
    html #form h2{
        font-size:2em
    }                    
    html #form .cwrap{
        width:260px;
        margin:auto;
        top: 0;
    }                    
    html #form .foot2{
        display:block
    }                    
    html #form .disc{
        font-size:1em;
        text-align:justify
    }                    
}                    
@media all and (max-width:480px){
    html section{
        margin:0
    }                    
}                    
#thnx{ 
    width: 100%; 
    height: auto;
}                    
#thnx .cwrap{
    width: 1000px; 
    margin: auto; 
    background: #fff; 
    padding: 20px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    overflow: hidden;
}                    
#thnx .cwrap .cont{
    margin: 0 0 50px 0;
}                    
#thnx .cwrap h1{
    margin: 0 0 10px 0;
}                    
#thnx .cwrap .socio{
    margin: auto; 
    color: #333; 
    background: yellow;
    font-size: 24px;
    display: block;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none; 
    text-transform: uppercase; 
    font-weight: bold;
}                    
.share_and_like {
    width: 100%;
    margin: 20px 0;
    float: left;
    list-style: none !important;
    text-align: center;
}                    
html #recaptcha_area{
    width: 260px !important;
    height: 127px !important;
    overflow: hidden;
    margin: auto !important;
}                    
html #recaptcha_table {
    width: 260px !important;
    height: 127px !important;
    overflow: hidden;
    margin: auto !important;
}                    
#recaptcha_privacy{
    display: none;
}                    
html .captcha #recaptcha_image {
    width: 247px !important;
    left: 1px !important;
    top: 3px;
}                    
html .recaptchatable .recaptcha_image_cell,
html .recaptchatable .recaptcha_image_cell center{
    width: 150px !important;
}                    
html .recaptchatable .recaptcha_r2_c1{
    width: 16px !important;
}                    
html .recaptchatable .recaptcha_r1_c1 {
    background: url('http://www.google.com/recaptcha/api/img/red/sprite.png') 1px -61px no-repeat;
    background-size: 282px 70px;
}                    

html .recaptchatable #recaptcha_response_field {
    width: 153px!important;
    position: relative!important;
    bottom: -6px!important;
    padding: 0!important;
    margin: 0 0 0 0!important;
    font-size: 10pt;
}                    